@model List<Gallery>
@{
    var counter = 0;
}

<div class="container-fluid" style="background-color: #BF0000; padding: 20px;">
    <div class="row justify-content-between align-items-center">
        <div class="col">
            <h1 class="text-white">Create</h1>
        </div>
        <div class="col-auto">
            <a asp-action="create" asp-controller="gallery" class="btn btn-light">Create</a>
        </div>
    </div>

    <table class="table table-striped mt-4" style="background-color: #FFC0CB;">
        <thead>
            <tr class="text-white">
                <th scope="col">No</th>
                <th scope="col">Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gallery in Model)
            {
                counter++;
                <tr class="text-white">
                    <th scope="row">@counter</th>
                    <td><img src="~/uploads/galleries/@gallery.ImageUrl" style="max-width:120px" /></td>
                    <td>
                        <a asp-action="update" asp-controller="gallery" asp-route-id="@gallery.Id" class="btn btn-success">Update</a>
                        <a asp-action="delete" asp-controller="gallery" asp-route-id="@gallery.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
