@model Setting
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="" class="form-label">Value</label>
        <input asp-for="Value" class="form-control" placeholder="Value">
        <span asp-validation-for="Value" style="color:red"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>